<div class="container">
<div class="row">
<h2>User info</h2>
<% if @user.errors.any? %>
	<div class="notification is-danger">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this object from being saved:</h2>
	<ul>
	<% @user.errors.full_messages.each do |message| %>
     	<li><%= message %></li>
	<% end %>
	</ul>
	</div>
<% end %>

<%= form_for(@user) do |f| %>
	<div class="form-group has-icon">
		<div>Name</div>
		<%= f.text_field :name, class:"form-control", id:"inputEmail" %>
	</div>
	<div class="form-group has-icon">
        <label class="control-label sr-only" for="inputEmail">image</label>
        <%= f.attachment_field :profile_image, class:"user-edit-form" %>
        </div>
    <div class="form-group has-icon">
    	<div>introduction</div>
    	<%= f.text_area :introduction, class:"form-control" %>
    </div>
    <%= f.submit "Update User", class:"btn btn-base-1 mt-20" %>
<% end %>
</div>
</div>