
<h2>User info</h2>
<%= form_for(@user) do |f| %>
    <%= render 'layouts/errors', obj: @user %>

	<p class="field">
		<%= f.label :name %>
    	<%= f.text_field :name %>
    </p>
	<p class="field">
        <label class="control-label sr-only" for="inputEmail">image</label>
        <%= f.attachment_field :profile_image, class:"user-edit-form" %>
    </p>
    <p class="field">
    	<%= f.label :introduction %>
    	<%= f.text_area :introduction %>
    </p>
    <p class="actions">
    	<%= f.submit "Update User", class:"btn btn-base-1 mt-20　border" %>
	</p>
<% end %>