<div class="container">
<div class="row">
<h2>User info</h2>
<%= form_for(@user) do |f| %>

<% if @user.errors.any? %>
    <div class="notification is-danger">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this object from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
    </div>
<% end %>

	<p class="field">
		<%= f.label :name %>
    	<%= f.text_field :name %>
    </p>
	<p class="field">
        <label class="control-label sr-only" for="inputEmail">image</label>
        <%= f.attachment_field :profile_image, class:"user-edit-form" %>
    </p>
    <p class="field">
    	<%= f.label :introduction %>
    	<%= f.text_area :introduction %>
    </p>
    <p class="actions">
    	<%= f.submit "Update User", class:"btn btn-base-1 mt-20　border" %>
	</p>
<% end %>
</div>
</div>