<td>
  <%= link_to(book.user) do %>
    <%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %><br>
    <!-- <%= book.user.name %> -->
  <% end %>
</td>
<td><%= link_to book.title,book, class: "book_#{book.id}" %></td>
<td><%= book.body %></td>
<!-- いいね機能 -->
<td>
  <% if book.favorited_by?(current_user) %>
    <%= link_to book_favorites_path(book, redirect_id: 0), method: :delete, remote: true do %>
      <i class="fa fa-heart" aria-hidden="true" style="color: red;"><%= book.favorites.count %></i>
    <% end %>
  <% else %>
    <%= link_to book_favorites_path(book, redirect_id: 0), method: :post, remote: true do %>
      <i class="fa fa-heart-o" aria-hidden="true"><%= book.favorites.count %></i>
    <% end %>
  <% end %>
</td>
<td>コメント数：<%= book.book_comments.count %></td>